<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kişisel Web Sitesi</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <!-- Başlık Bölümü -->
    <div id="header">
        <!-- <h1 style="color:red; font-size:60px;">Merhaba ben Kemal Kodyazan</h1> -->
        <h1 class="">Merhaba ben Kemal Kodyazan</h1>
        <p>Yazılım Geliştirici | Teknoloji Aşığı | Spor Tutkunu</p>
    </div>
    @RenderBody()
</body>

</html>