@{
    ViewData["Title"] = "About";
}

<h1 class="display-6 text-danger">About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab autem reprehenderit delectus nulla accusantium? Rem quis numquam deserunt, vel atque amet ipsa delectus veniam natus non recusandae expedita animi.</p>