
@{
    ViewBag.Category = "Kategoriler";
}

<div class="card" style="text-align:center; margin-bottom: auto;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Kitap</li>
        <li class="list-group-item">DVD</li>
        <li class="list-group-item">Dergi</li>
    </ul>
</div>  

@* <div style="text-align:center;">
    <h2>Kategoriler</h2>
    <ul>
        @foreach (var category in ViewBag.Categories)
        {
            <li>@category</li>
        }
    </ul>
</div> *@