


/* body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* .header {
    background-color: rgb(217, 214, 214);
    height: 60px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
} */
