<!-- Bağlantılar Bölümü -->
<div id="links">
    <h2>Benimle Bağlantı Kurun!</h2>
    <div><a href="https://www.github.com" target="_blank">Github</a></div>
    <div><a href="https://www.linkedin.com" target="_blank">LinkedIn</a></div>
</div>

<!-- Görsel Bölümü -->
<div id="profilePicture">
    <h2>Profil Fotoğrafı</h2>
    <!-- <img src="https://placehold.co/200" alt=""> -->
    <img src="https://picsum.photos/id/1/200/200" alt="">
</div>

<!-- İletişim Bölümü -->
<!-- div#contact
    #contact -->
<div id="contact">
    <h2>Benimle İletişime Geçin</h2>
    <div>
        <form action="">
            <div>
                <label for="">Ad Soyad: </label>
                <input type="text">
            </div>
            <div>
                <label for="">Email:</label>
                <input type="email">
            </div>
            <div>
                <label for="">Mesaj:</label>
                <textarea></textarea>
            </div>
            <div>
                <input type="submit" value="Mesajı Gönder">
            </div>
        </form>
    </div>
</div>