<!-- Kişisel Bilgiler Bölümü -->
<div id="about">
    <h2>Hakkımda</h2>
    <p>Merhaba! Ben Kemal Kodyazan. 5 yıldır yazılım geliştirici olarak çalışıyorum. Çeşitli şirketlerde farklı
        projelerde rol adlıktan sonra, şu günlerde bireysel olarak proje geliştiriyorum. Aynı zamanda spor ve
        teknolojiye de meraklıyım.</p>
</div>

<!-- Yetenekler Bölümü -->
<div id="skills">
    <h2>Yetenekler</h2>
    <div id="skillsContainer">
        <div class="skill">HTML</div>
        <div class="skill">CSS</div>
        <div class="skill">JavaScript</div>
        <div class="skill">MVC</div>
        <div class="skill">API</div>
        <div class="skill">NodeJs</div>
    </div>
</div>


